@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 225 15% 10%;
    --card: 0 0% 100%;
    --card-foreground: 225 15% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 15% 10%;
    --primary: 200 81% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 30% 90%;
    --secondary-foreground: 225 20% 25%;
    --muted: 225 30% 90%;
    --muted-foreground: 225 20% 45%;
    --accent: 198 81% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 30% 85%;
    --input: 0 0% 95%;
    --ring: 200 81% 29%;
    --chart-1: 225 76% 61%;
    --chart-2: 268 58% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 225 15% 10%;
    --foreground: 0 0% 98%;
    --card: 225 15% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 225 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 81% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 225 15% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 225 15% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 198 81% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 15% 25%;
    --input: 225 15% 25%;
    --ring: 200 81% 29%;
    --chart-1: 225 70% 50%;
    --chart-2: 268 60% 55%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
